In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/jm/Documents/CS 171/CS 171 Project/crimson-devs.github.io/data/shark-encounters.csv')

In [3]:
df.head()

,case_number,year,encounter_type,country,area,location,activity,name,sex,age,injury,fatal,species,country_code
0,1,2022.0,Unprovoked,UNITED STATES OF AMERICA,California,"Otter Point, Pacific Grove",surfing,Jim Affinito,M,NaN,NaN,No,NaN,USA
1,2,2022.0,Unprovoked,BAHAMAS,NaN,Cat Island,diving,male,M,NaN,torso,No,NaN,BHS
2,3,2022.0,Provoked,UNITED STATES OF AMERICA,Mississippi,Horn Island,fishing,male,M,NaN,NaN,No,NaN,USA
3,4,2022.0,Unprovoked,UNITED STATES OF AMERICA,Hawaii,Kauai,NaN,Scott Hill,M,51.0,NaN,No,tiger,USA
4,5,2022.0,Unprovoked,AUSTRALIA,South Australia,Seacliff,NaN,Nat Drummond,M,19.0,NaN,No,NaN,AUS

In [4]:
mo_all = pd.read_csv('/Users/jm/Documents/CS 171/CS 171 Project/Marvel-2/data/clean/map-data-all.csv')

In [5]:
mo_all.head()

,Unnamed: 0,Name,North Macedonia,Slovenia,Iceland,Middle East Other,Germany,Hong Kong,Peru,Romania,...,Lebanon,Aruba,Spain,France,Denmark,South Africa/Nigeria,Brazil,Austria,Domestic,International
0,0,Ant-Man,0.0,35601,183341,0,5917308,6992049,2883625,0.0,...,337940,0,4146982,13562428,918472,0,12431089,787916,180202163.0,3.198045e+08
1,1,Ant-Man and the Wasp,0.0,74081,233790,0,9424892,7663339,0,721491.0,...,0,0,6869063,14715801,1067087,0,13010094,1518401,216648740.0,3.862202e+08
2,2,Avengers: Age of Ultron,0.0,122335,371887,0,31193932,17155906,7025935,1137226.0,...,542714,0,13640131,34270887,4578163,0,47862465,4086924,459005868.0,9.030112e+08
3,3,Avengers: Endgame,0.0,611641,749185,0,64319294,29330722,0,3376295.0,...,0,0,32666285,62387891,10254418,0,85667373,8376632,858373000.0,1.839770e+09
4,4,Avengers: Infinity War,0.0,325818,688359,0,45398141,20585253,0,2494062.0,...,0,0,24809385,47689983,6853155,0,66684469,5690732,678815482.0,1.267651e+09

In [9]:
df['activity'] = df['activity'].str.split(', ')

In [69]:
countries = pd.read_json('data/slim-3.json')

In [87]:
code, country_Name = countries['alpha-3'].tolist(), countries['name']

In [71]:
c_dict= dict(zip(code,country_Name))

In [88]:
activity_country = df \
.explode('activity') \
.groupby(['activity','country_code']) \
.size().reset_index().rename(columns={0:'value'})

In [90]:
activity_country['country_code'] = activity_country['country_code'].map(c_dict)

In [91]:
activity_country.head()

  activity country_code  value
0  bathing    Australia     67
1  bathing       Brazil      2
2  bathing     Barbados      1
3  bathing     Colombia      1
4  bathing         Cuba      2

In [96]:
%%time
country_act_df = activity_country.pivot(index='activity', values='value', columns='country_code').fillna(0).reset_index()

CPU times: user 5.16 ms, sys: 2.17 ms, total: 7.33 ms
Wall time: 5.48 ms

In [97]:
country_act_df.rename(columns={'activity':'Name'}, inplace=True)

In [98]:
activity_country.head()

  activity country_code  value
0  bathing    Australia     67
1  bathing       Brazil      2
2  bathing     Barbados      1
3  bathing     Colombia      1
4  bathing         Cuba      2

In [86]:
%%time
country_act_df = activity_country.pivot(index='activity', values='value', columns='country_code').fillna(0).reset_index()

ValueError: Index contains duplicate entries, cannot reshape

In [100]:
country_act_df.to_csv('data/my_all_countries.csv', quoting=0)

In [41]:
activity_encounter = df \
.explode('activity') \
.groupby(['activity','encounter_type']) \
.size().reset_index().rename(columns={0:'value'})

In [42]:
%%time
activity_encounter_df = activity_encounter.pivot(index='activity', values='value', columns='encounter_type').fillna(0).reset_index()

CPU times: user 2.48 ms, sys: 1.54 ms, total: 4.02 ms
Wall time: 6.55 ms

In [49]:
activity_encounter_df.rename(columns={'activity':'Name'}, inplace=True)

In [50]:
activity_encounter_df.to_csv('data/my_all_encounter.csv')